html {
  background-color: #060E18;
}

html{scroll-behavior:smooth}

body::-webkit-scrollbar {
  display: none;
}

a, .scroll, button {
  transition: all 1.3s ease;
}

p {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.696);
  font-family: 'Lora', serif;
  text-align: justify;
}

nav {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 852px;
  align-items: center;
  height: 10vh;
}

nav ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0px 37px;
}

nav ul li a {
  font-family: 'Playfair Display', serif;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  text-align: center;
}

nav ul li a:hover {
  color: #2F6BC5;
}

h1 {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

section {
  background: linear-gradient(#000000, #00000000);
  padding: 10px 200px;
  min-height: 100vh;
  margin-bottom: 100px;
  margin: auto;
}

section h2 {
  font-family: 'Lora', serif;
  color: white;
  font-family: Lora;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

em {
  color: #2F6BC5;
}


.hamburger {
  display: none; /* Initially hide the hamburger icon on larger screens */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}


/* === Home Page === */

.logo {
  font-family: 'Playfair Display', serif;
  margin-left: 50px;
  color: #FFF;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}


.profile-section {
  display:grid;
  grid-template-columns: 48px 561px 191px;
  height: 90vh;
  width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: start;
}

.socials {
  display: grid;
  height: 200px;
}

.socials-horizontal {
  display: none;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 100px;
  /* width: 403px; */
  height: 50px;
}

.socials a, .socials-horizontal a{
  color: white;
  font-size: 1.5em;
  /* margin-top: 40px; */
  margin-bottom: 15px;
  width: 28px;
  text-align: center;
}

.socials a:hover, 
.socials-horizontal a:hover{
  color: #2F6BC5;
  transform: translateY(-5px);
}

.profile-text {
  display: grid;
  color: white;
  width: 450px;
}

.profile-photo {
  display: grid;
  height: 400px;
}

.profile-photo img {
  width: 100%;
  max-width: 320px;
  min-width: 250px;
  position: absolute;
}

.subtitle {
  display: inline-flex;
  align-items: center;
  height: 50px;
  /* width: 403px; */
}

.subtitle h2 {
  color: #FFF;
  font-family: Lora;
  font-size: 2em;
  font-weight: 400;
}

.name {
  height: 180px;
  /* width: 403px; */
}

.description {
  color: rgba(255, 255, 255, 0.38);
  font-family: Inter;
  font-size: 1.2em;
  /* width: 403px; */
}

.dash {
  width: 40px;
  height: 8px;
  flex-shrink: 0;
  background: #D9D9D9;
  margin-right: 20px;
}

.controls { 
  display: flex;
  justify-content: space-around;
  /* width: 403px; */
}


.controls a, 
#contact button{
  display: inline-block;
  background-color: #2F6BC5;
  color: #fff;
  padding: 21px 21px;
  border-radius: 30px;
  text-decoration: none;
}

#contact button {
  border-style: solid;
  border:none;
  /* width: 100px; */
  cursor: pointer;
}

.controls a:hover, 
#contact button:hover{
  background: transparent !important;
  border: 1px solid white;
  transform: translateY(-5px);
}

.email {
  background-color: rgba(124, 124, 124, 0.447) !important;
}

/* ==== over mij pagina ===== */

.about-title {
  display: grid;
  justify-content: center;
}

.about-title h2, 
.about-title h1, 
.about-title p {
  width: 680px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.personal-article {
  display: grid;
  align-items: center;
}

.wie {
  grid-template-columns: 220px 420px;
  column-gap: 2em;
  justify-content: center;
}

.wie img {
  margin-top: 50px
}


.voorjou {
  grid-template-columns: 434px 210px;
  column-gap: 2em;
  justify-content: center;

}

.voorjou img{
  margin-top: 33px;
}

.personal-article div {
  margin-top: 40px;
}

.personal-article div img {
  width: 100%;
  border-radius: 20px;
}



/* ====== Pagina prijzen ===== */

.prijzen-section {
  color: #decccc;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: center;
}

.prijzen-section div h1 {
  width: 100%;
  text-align: center;
}

.title-section {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}


.title-section h2,
.title-section h1 {
  width: 680px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.prijzen-section div {
  width: 250px;
  height: 540px;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 15px rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.prijzen-section div h2 {
  display: grid;
  color: #ffffff;
  border-radius: 100px;
  width: 100px;
  height: 70px !important;
  text-align: center;
  align-items: center;
  margin: 10px auto;
}

.prijzen-section div h1 {
  font-size: 1.7em;
  margin:0px;
}

.prijzen-section div h3 {
  font-size: 1.7em;
  margin:0px;
}

.prijzen-section div h4 {
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
}

.prijzen-section div ul {
  text-align: left;
  padding-left: 0;
}

.styled-list {
  list-style: none; 
}

.styled-list li::before {
  content: '☑️'; 
  margin-right: 8px; 
}



/* ========= contact pagina ======= */

#contact {
  display: grid;
  grid-template-columns: 400px 280px;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#contact label {
  color: white;
  font-size: 1.2em;
}

#contact input,
#contact textarea {
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.696);
  width: 100% !important;
  padding: 10px 0px;
  background: none;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 0 40px 2px #7ad0fe41;
  font-size: 1em;
  resize: none;
}

#card {
  background-image:
    linear-gradient(black, black),
    linear-gradient(calc(var(--rotation)), #ababab 0, #202020 20%, transparent 80%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}

.scroll {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 50px;
  cursor: pointer;
  border-radius: 20px;
}

.scroll:hover {
  transform: translateY(-20%);
}


@media only screen and (max-width: 1070px) {
  .profile-section {
    display:grid;
    padding-left: 20px;
    grid-template-columns: auto auto;
    width: 90%;
    gap: 3%;
    margin-bottom: 50px;
  }

  .profile-section img {
    max-width: 10%;
  }  

  .profile-text {
    width: 30em;
  }

  .prijzen-section {
    gap: 10px;
  }

  .prijzen-section div {
    width: 200px;
  }


  .name {
    font-size: 1em;
  }


  .socials {
    display: none;
  }

  .socials-horizontal {
    display: grid;
  }

  nav {
    display: flex;
  }
}

@media only screen and (max-width: 830px) {
  .hamburger {
    display: flex; 
    position: absolute;
    float: right;
    right: 0;
    margin-right: 20px;
  }
  
  .logo {
    display: none;
  }

  nav ul {
    display: none; 
    flex-direction: column;
    position: absolute;
    float: right;
    top: 60px;
    right: 0;
    background: #00000058; 
    backdrop-filter: blur(4px);
  }

  ul.active {
    display: grid; 
  }
}

@media only screen and (max-width: 788px) {
  section {
    margin-bottom: 100px;
  }


  nav ul{
    display: none; 
  }


  section {
    display: block;
    padding: 20px 5px !important;
  }

  .hamburger {
    display: flex; 
    position: absolute;
    float: right;
    right: 0;
    margin-right: 20px;
  }
  
  .logo {
    display: none;
  }

  nav ul {
    display: none; 
    flex-direction: column;
    position: absolute;
    float: right;
    top: 60px;
    right: 0;
    background: #00000058; 
    backdrop-filter: blur(4px);
  }

  ul.active {
    display: grid; 
  }


  .scroll {
    display: none;
  }

  #contact input,
  #contact textarea {
    font-size: 1em; 
    padding: 10px 0; 
  }

  .profile-section {
    display: block; 
    height: 120vh;
  }

  .profile-photo img {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }


  .profile-text {
    width: 100%; 
  }

  .prijzen-section {
    display: block;
  }

  .prijzen-section div {
    margin-top: 20px;
    width: auto;
  }

  .name {
    font-size: 0.9em;
  }
  .subtitle h2{
    font-size: 1.6em;
  }

  .about-title {
    display: block
  }

  .about-title h2, 
  .about-title h1, 
  .about-title p {
  width: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.personal-article {
  display: block;
  text-align: center;

}

#about img {
  width: 50%;
}

.wie {
  display: block;
}

.title-section h2, .title-section h1 {
  width: auto;
}

#contact {
  display: block;
  padding: 20px !important;
}

}